/**
*	created by Satrio Adityo
*	for styling Telmop
*/

html{
	height: 100%;
}

body{
	background: url('../images/background.jpg') center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	color: #FFF;
}

label{
	color: #000;
}

.modal-title{
	color: #000;
}


/* NAVBAR */
.container-fluid{
	background-color: #000;
}

.navbar{
	background-color: #000;
	border: 0;
	padding: 15px 100px;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}


/* CONTENT */
.main-site{
	margin-top: 120px;
}

.container-image{
	overflow: hidden;
	position: relative;
}

.overlay-image{
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 200;
	top: 0;
	right: 0;
	opacity: 0;
	transition: all .75s ease;
}

.overlay-image:hover{
	opacity: 1;
}

.vendor{
	position: relative;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #FFF;
	font-size: 24px;
}

.vendor-name{
	text-align: center;
	font-size: 24px;
}

.row{
    margin-top: 80px;
}
.col-md-12{
    margin-left: 20px;
}

.form-controller{
    width: 400px;
    font-size: 12pt;
    border: 1px solid #2ECC71;
    padding-left:10px;
    color:#2ECC71;
}
.drzone{
    width: 400px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*border: 1px solid #2ECC71;*/
}
#submit2{
    width: 400px;
}




/* FOOTER */
.footer{
	background-color: #000;
	color: #FFF;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.footer-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#kotak{
    width: 520px;
    height: 250px;
    background: #fff;
    margin: 50px auto 100px auto;
    color:#2ECC71;
}
#kotakSignup{
    width: 520px;
    height: 350px;
    background: #fff;
    margin: 20px auto 100px auto;
    color:#2ECC71;
}
#atas{
    height: 50px;
    width: 520px;
    text-align: center;
    font-size: 15pt;
    padding-top:10px;
}
#bawah{
    height: 200px;
    width: 520px;
    
}
.masuk{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    border: 1px solid #2ECC71;
    padding-left:10px;
    color:#2ECC71;
}
.masuk:focus{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    padding-left:10px;
    color:#1ABC9C;
    outline: none;
    box-shadow: 0 0 5px #2ECC71;
}
 
#tombol{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    background: #2ECC71;
    border:none;
    color:#fff;
    font-size: 14pt;
    outline:none;
}
#signup{
    margin-left: 10px;
}

